<div>
	<div class="nav-ad" style="text-align:center;">
		<img src="http://placehold.it/728x90" />
	</div>
	<div class="container">

		<div class="col-md-12 row" style="margin-right:0px;padding-right:0px;">
			<div class="col-md-4" style="text-align:left;" style="margin-right:0px;padding-right:0px;">
			<a ng-href="/">
					<img src="images/site/tooski.png" style="height:75px;" />
				</a>
			</div>
			<div class="col-md-8 form-inline" style="text-align:right;margin-right:0px;padding-right:0px;padding-top:10px;">
				<div class="col-md-12 row nav-social">
					<a href="https://www.facebook.com/tooskivousfaut" target="_blank">
						<img src="images/icons/social-facebook.png" />
					</a>
					<a href="https://twitter.com/tooskivousfaut" target="_blank">
						<img src="images/icons/social-twitter.png" />
					</a>
					<a href="mailto:info@tooski.ch" target="_blank">
						<img src="images/icons/social-mail.png" />
					</a>
					<a href="http://tooski.ch/more/Feed" target="_blank">
						<img src="images/icons/social-rss.png" />
					</a>
					<img src="images/icons/search-lens.png" style="width:15px;">
					<input type="text" placeholder="Recherche" />
				</div>
				<div class="col-md-12 row" style="margin-top:15px;margin-right:0px;padding-right:0px;padding-bottom:10px;">
					<a href="#!/" class="nav-links">
						Actu
					</a>
					<a href="#!/Mag" class="nav-links">
						Point de vue
					</a>
					<a href="#!/Rankings" class="nav-links">
						Résultats
					</a>
					<a href="#!/Blogs" class="nav-links">
						Blogs
					</a>
					<a href="#!/Skiclubs" class="nav-links">
						Ski-clubs
					</a>
					<a href="#!/Shop" class="nav-links">
						Boutique
					</a>
					<a href="#!/Pages" class="nav-links no-border">
						Tooski
					</a>
				</div>
			</div>
		</div>
	</div>

</div>

