<div class="container">
	<div style="text-align:center;">
		<img src="http://placehold.it/728x90" />
	</div>

	<div class="col-md-12 bordered row" style="margin-right:0px;padding-right:0px;">
		<div class="col-md-4" style="text-align:left;" style="margin-right:0px;padding-right:0px;">
			<img src="images/site/tooski.png" />
		</div>
		<div class="col-md-8" style="text-align:right;margin-right:0px;padding-right:0px;padding-top:10px;">
			<div class="col-md-12">
				f | t | m | r
			</div>
			<div class="col-md-12 row" style="margin-top:40px;margin-right:0px;padding-right:0px;padding-bottom:10px;">
				<a href="" class="menu-links">
					<strong>Actu</strong>
				</a>
				<a href="" class="menu-links">
					<strong>Point de vue</strong>
				</a>
				<a href="" class="menu-links">
					<strong>Résultats</strong>
				</a>
				<a href="" class="menu-links">
					<strong>Blogs</strong>
				</a>
				<a href="" class="menu-links">
					<strong>Ski-clubs</strong>
				</a>
				<a href="" class="menu-links">
					<strong>Boutique</strong>
				</a>
				<a href="" class="menu-links no-border">
					<strong>Tooski</strong>
				</a>
			</div>
		</div>
	</div>

</div>

