<div class="col-md-12">
    <div class="col-md-12">
        <div class="row red">
            Classements généraux
            <img src="images/icons/Cup-icon.png" class="pull-right icon" />
        </div>
        <div ts-ranking-general ranking="genRanking"></div>
    </div>

    <div class="col-md-12">
        <div class="row red">
            Magazine
            <img src="images/icons/magazine-icon.png" class="pull-right icon" />
        </div>
        <div ts-ranking-general ranking="genRanking"></div>
    </div>

    <div class="col-md-12">
        <div class="row red">
            Ski-clubs
            <img src="images/icons/ski-icon.png" class="pull-right icon" />
        </div>
        <div class="">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d176157.28877847208!2d6.6717954!3d46.3801477!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478eea13e1351279%3A0x9e27cc593d61d73a!2sDiablerets!5e0!3m2!1sen!2s!4v1402417548772" frameborder="0" style="border:0"></iframe>
        </div>
    </div>

    <div class="col-md-12" style="margin-bottom:20px;">
        <img src="http://placehold.it/1000x1000" />
    </div>

    <div class="col-md-12" style="margin-bottom:20px;">
        <img src="http://placehold.it/1000x1000" />
    </div>
</div>
