<div class="row cold-md-12">
	<div class="col-md-6">
		<h1 align="center">{{name}}</h1>
		<div ng-repeat="n in news | orderBy:'date':true">
		<h2>{{n.title}} <small> le {{n.date|date:'dd/MM/yyyy'}}</small> </h2>
		<p ng-bind-html="n.content"></p>
		</div>
	</div>
	<div class="col-md-3">
		<span class="thumbnail">
			<img class="media-object" ng-src="{{profilePic}}" alt="Photo du skieur" />
		</span>

		<br />
		<div>
			<p ng-bind-html="CV"></p>
		</div>
		<br /><br />
		<a type="button" class="btn btn-lg btn-primary btn-block" ng-href="{{linkResults}}" target="_blank">Mes résultats</a>
	</div>
	<div ts-blog-sponsors sponsors="sponsors"></div>
</div>