<div class="row cold-md-12">
	<div class="col-md-6">
		<div ng-repeat="n in news | orderBy:'date':true">
			<div ts-news-list news="n"></div>
		</div>
	</div>
	<div class="col-md-3">
		
		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>


		<div class="col-md-10">
			<h4></h4>
		</div>
		
			<input type="button" class="btn btn-lg btn-primary btn-block" value="Mes Résultats" ng-href="{{linkResults}}" target="_blank" />
	</div>
	<div class="col-md-3">
		
		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>


		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>


		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>


		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>
	</div>
</div>