<div class="row">
    <div id="ts-news" class="col-md-6">
        <div class="col-md-12">
            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
            </span>
            <br><br><br><br><br><br><br><br>
        </div>
    </div>


    <div id="ts-widgets" class="col-md-3 hidden-xs hidden-sm">
            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
            </span>


            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
            </span>


            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
            </span>


            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
            </span>
    </div>
    <div id="ts-ad" class="col-md-3 hidden-xs hidden-sm">

            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
            </span>

            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/350x750" alt="testing image" />
            </span>

            <span class="thumbnail">
                <img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
            </span>
    </div>
</div>