<div style="margin-bottom:15px;text-align:center;" align="center">
	<div ts-news-carousel news="randFirstNews" style="height:300px; width:auto;"></div>
</div>
<div class="row">
	<div class="col-md-7">
		<div class="col-md-12 red">
			News
			<img src="images/icons/megaphone-icon.png" class="pull-right icon" />
		</div>
		<div class="col-md-12">
			<div class="col-md-6" style="padding:10px;" ng-repeat="n in news">
				<img class="media-object" ng-src="{{n.content | findImage}}" alt="{{n.title}}" style="width:100%;height:140px;" />
				<p style="text-align:justify;"><strong>
					<span class="red">{{n.date|date:'dd/MM/yyyy'}}//</span>
					<span class="blue"><a ng-href="#!/?n={{n.id}}">{{n.title}}</a></span>
				</strong></p>
				<p style="text-align:justify;"><strong><small>
					{{n.content|plainText|truncate:'150'}}
					<a ng-href="#!/?n={{n.id}}"><img src="images/icons/read-more-arrow.png" class="icon" /></a>
				</small></strong></p>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div ts-widget-bar></div>
	</div>
</div>
