<div class="row">
	<div id="ts-news" class="col-md-6">
		<div class="col-md-12">
			
			<div ts-news-carousel news="news" style="height:500px; width:auto;"></div>

			<div ng-repeat="n in news | orderBy:'id':true">
				<div ts-news-list news="n"></div>
			</div>
		</div>
	</div>


	<div id="ts-widgets" class="col-md-3 hidden-xs hidden-sm">
		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>


		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>


		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>


		<span class="thumbnail">
			<img class="media-object" ng-src="http://placehold.it/550x350" alt="testing image" />
		</span>
	</div>


	<div ts-pub-side></div>
</div>