<div class="row">
	<div class="col-md-5">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Course</th>
					<th>Catégorie</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rank in rankings">
					<td><a ng-href="#!/Result?resultId={{rank.id}}">{{rank.date*1000 | date:'dd/MM/yyyy'}}</a></td>
					<td><a ng-href="#!/Result?resultId={{rank.id}}">{{rank.title}}</a></td>
					<td><a ng-href="#!/Result?resultId={{rank.id}}">{{rank.genre}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<tabset>
			<tab heading="Hommes">
				<div ts-ranking-general ranking="generalMen"></div>
			</tab>
			<tab heading="Femmes">
				<div ts-ranking-general ranking="generalWomen"></div>
			</tab>
		</tabset>
	</div>
	<div ts-pub-side></div>
</div>