<div class="row col-md-10 col-md-offset-2" style="margin-top:20px;margin-bottom:50px;">
    <div class="col-md-6" style="margin-top:30px;margin-bottom:30px;">
        <h4 class="news-title sansation" style="text-align:left;">
            Vous ne connaissez pas notre magazine ? <br />
            Demandez-nous un exemplaire gratuit... <br />
        </h4>
        <h4 style="margin-bottom:20px;">
            <a href="mailto:angulation@tooski.ch" style="text-decoration:none;">
                <span class="red"><em>Angulation @ tooski.ch</em></span>
            </a>
        </h4>
        <a href="mailto:angulation@tooski.ch" class="btn btn-primary">
            SOUSCRIRE À L'ABONNEMENT
        </a href="mailto:angulation@tooski.ch">
    </div>
    <div class="col-md-6" style="line-height:185px;">
        <img src="images/site/mags.png" style="max-width:250px;" />
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-8">
    <div class="red col-md-12" style="position:absolute;left:0px;right:0px;">
            Tooski Merchandising
        </div>
        <iframe id="shop-content" style="height:1500px;width:100%;" src="http://tooski.spreadshirt.net/customize/noCache/1" name="Spreadshop" id="Spreadshop" frameborder="0" onload="window.scrollTo(0, 0);"></iframe>
    </div>
    <div class="col-md-4">
        <div ts-widget-bar></div>
    </div>
</div>
