<div class="row col-md-10 col-md-offset-2" style="margin-top:20px;margin-bottom:50px;">
    <div class="col-md-6" style="margin-top:30px;margin-bottom:30px;">
        <h4 class="news-title sansation" style="text-align:left;">
            Vous ne connaissez pas notre magazine ? <br />
            Demandez-nous un exemplaire gratuit... <br />
        </h4>
        <h4 style="margin-bottom:20px;">
            <a href="mailto:angulation@tooski.ch" style="text-decoration:none;">
                <span class="red"><em>Angulation @ tooski.ch</em></span>
            </a>
        </h4>
        <a href="mailto:angulation@tooski.ch?subject=Abonnement" style="padding-right:50px;padding-left:50px;" class="btn btn-md btn-primary">
            S'ABONNER
        </a href="mailto:angulation@tooski.ch">
    </div>
    <div class="col-md-6" style="line-height:185px;">
        <img src="images/site/mags.png" style="max-width:250px;" />
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-8">
        <div class="red col-md-12" style="margin-bottom:15px;">
            Angulation
            <img src="images/icons/magazine-icon.png" class="pull-right icon" />
        </div>
        <div class="col-md-12">
            <p>Outre le site sur lequel vous vous trouvez, l’équipe de Tooski publie un magazine destiné plus spécifiquement aux jeunes mordus du ski de compétition.</p>

            <p>Au format A5, illustré de nombreuses photos couleurs, Angulation a pour objectif d’analyser en profondeur l'actualité du Cirque blanc, de mieux faire connaître ses acteurs mais aussi la relève romande, ainsi que de se pencher sur les spécificités des techniques de course. Il entend porter un regard critique, parfois décalé, sur le ski alpin et ses protagonistes.</p>
            <div class="col-md-12" style="margin-bottom:15px;">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-7"><strong>Fréquence de parution</strong></div>
                    <div class="col-md-5">4 numéros par an</div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-7"><strong>Prix au numéro</strong></div>
                    <div class="col-md-5">CHF / € 2.70</div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-7"><strong>Abonnement de 5 numéros</strong></div>
                    <div class="col-md-5">CHF / € 10.-</div>
                </div>
            </div>

            <p>Vous voulez vous abonner sans attendre ? Passez directement à l’action sans perdre un instant. (bouton s’abonner)</p>

            <div class="col-md-10 col-md-offset-1" style="margin-bottom:30px;">
                <img ng-repeat="cover in covers" ng-src="{{cover.url}}" style="max-width:100px;margin:10px;" />
            </div>

        </div>
    </div>
    <div class="col-md-4">


        <div class="col-md-12" style="margin-bottom:20px;">
            <div class="row red" style="padding-left:5px;">
                Exemplaire Gratuit
                <img src="images/icons/ski-icon.png" class="pull-right icon" />
            </div>
            <div class="row">
                <p class="sansation col-md-12" style="text-align:justify;">
                    Vous préféreriez commencer par feuilleter notre magazine ? Ecrivez-nous un petit mail (sans oublier vos coordonnées postales), nous nous ferons un plaisir de vous en envoyer gratuitement un numéro.
                </p>
                <div style="text-align:center;">

                    <a href="mailto:angulation@tooski?subject=Exemplaire Gratuit" class="btn btn-primary">
                        Exemplaire gratuit
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-12" style="margin-bottom:20px;">
            <div class="row red" style="padding-left:5px;">
                Collectionneurs
                <img src="images/icons/ski-icon.png" class="pull-right icon" />
            </div>
            <div class="row" style="text-align:center;">
                <p class="sansation col-md-12" style="text-align:justify;">
                    Si vous souhaitez compléter votre collection, contactez-nous. On ne sait jamais...
                </p>
                <a href="mailto:angulation@tooski.ch?subject=Collectionneur" class="btn btn-primary">angulation@tooski.ch</a>
            </div>
        </div>
    </div>
</div>
