<div class="row">
    <div class="col-md-8">
        <google-map center="map.center" zoom="map.zoom">
        <markers models="skiclubs" labelContent="'title'" coords="'self'" click="markerClick">
        </markers>
    </google-map>
    <div class="col-md-12" style="margin-left:0px;padding-left:0px;">
        <h3 class="news-title">{{currentClub.title}}</h3>
        <p class="sansation" ng-bind-html-unsafe="currentClub.description"></p>
        <div class="col-md-12 row">
            <div style="text-align:center;">
                {{currentClub.contact}}
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">


    <div class="col-md-12" style="margin-bottom:20px;">
        <div class="row red" style="padding-left:5px;">
            Contact
            <img src="images/icons/magazine-icon.png" class="pull-right icon" />
        </div>
        <div class="row">
            <span ng-bind-html="widgetContent"></span>
        </div>
    </div>

    <div class="col-md-12" style="margin-bottom:20px;">
        <div class="row red" style="padding-left:5px;">
            Ajouts
            <img src="images/icons/megaphone-icon.png" class="pull-right icon" />
        </div>
        <div class="row">
            <p class="sansation" style="text-align:justify;">
                Nous avons oublié une information qui pourrait être utile ?
            </p>

            <p class="sansation" style="text-align:justify;">
                Vous voulez apporter une rectification aux infos qui se rapportent à votre association ou votre ski-
                club ?
                <br />
                <br />

                <strong>Contactez-nous :</strong>
            </p>
            <address style="text-align:center;">
                Tooski | 21, avenue du Léman | CH – 1005 Lausanne
                <br />
                <a href="mailto:info@tooski.ch?subject=Ajout Skiclubs">info@tooski.ch</a>
            </address>
        </p>
    </div>
</div>
</div>
</div>
