<div class="col-md-12">
    <div class="col-md-8">
        <h1>Ski-clubs</h1>
        <p>
            asdf asdf asd fasd fasd fasdfasdfasdfasdfasdf adsf asdfadsfa s.fasdfdasfadsas fasd.f asdfafasdf asdfasdf . asdf asdf asdf asdf asdf asdf adsf adf. asdf asdf asdfa sdf asdf . asdf asdf asdfa sdfasdf asdfdas . asdf asdf asd fadsfadfs.
        </p>
        <p>
            asdf asdf asd fasd fasd fasdfasdfasdfasdfasdf adsf asdfadsfa s.fasdfdasfadsas fasd.f asdfafasdf asdfasdf . asdf asdf asdf asdf asdf asdf adsf adf. asdf asdf asdfa sdf asdf . asdf asdf asdfa sdfasdf asdfdas . asdf asdf asd fadsfadfs.
        </p>
        <p>
            asdf asdf asd fasd fasd fasdfasdfasdfasdfasdf adsf asdfadsfa s.fasdfdasfadsas fasd.f asdfafasdf asdfasdf . asdf asdf asdf asdf asdf asdf adsf adf. asdf asdf asdfa sdf asdf . asdf asdf asdfa sdfasdf asdfdas . asdf asdf asd fadsfadfs.
        </p>
        <p>
            asdf asdf asd fasd fasd fasdfasdfasdfasdfasdf adsf asdfadsfa s.fasdfdasfadsas fasd.f asdfafasdf asdfasdf . asdf asdf asdf asdf asdf asdf adsf adf. asdf asdf asdfa sdf asdf . asdf asdf asdfa sdfasdf asdfdas . asdf asdf asd fadsfadfs.
        </p>
    </div>
    <div class="col-md-4">
        <div ts-widget-bar></div>
    </div>
</div>
